* {
    box-sizing: border-box;
    font-family: Verdana;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    border: 0;
    padding: 0;
    /* border: solid 1px rgba(255, 255, 255, 0.2); */
}

body {
    /* background-image: url("images/background.png"); */
    background-color: rgba(194, 247, 255, 0.2);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    max-width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    padding: 10px 10px 10px 10px;
}

main {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.character-container {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    align-items: center;
    border: solid 1px rgba(0, 0, 0, 0.171);
}

.character-image {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 20rem;
}

.character-image-main {
    width: 11rem;
}

.mid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    width: 100%;
    border-top: solid 1px rgba(0, 0, 0, 0.3);
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}

.character-name {
    height: 35px;
    width: 200px;
    text-align: center;
    font-weight: 800;
    color: rgb(64, 142, 251);
    font-size: 1.7rem;
}

.bottom-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    /* border: solid 1px black; */
}

.timeline-container {
    padding: 10px;
    width: 75px;
    height: auto;
    margin: 5px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(85deg, rgb(50, 55, 57), rgb(29, 31, 32));

    transition: width 2s;
}


.timeline-year,
.timeline-year-an,
.timeline-description {
    color: rgba(255, 255, 255, 0.7);
}

.timeline-year {
    text-align: end;
    font-weight: bold;
    font-size: 1.2rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: rgb(31, 64, 255);
}

.timeline-year-an {
    text-align: end;
    font-size: 0.9rem;
    opacity: 0.75;
    display: none;
    display: none;
    
    transition: width 2s;
}

.timeline-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 7.5px 0;
    width: 100%;
    height: 175px;
    
    border-radius: 15px;
    /* opacity: 0.2; */
}

.timeline-description {
    min-height: 5rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: scroll;
    /* padding-bottom: 10px; */
    display: none;
    
    transition: width 2s;
}


/* TOGGLE */
.timeline-year-an-active,
.timeline-description-active {
    display: block
}

.timeline-container-active {
    width: 330px;
}